
.ui-jqgrid tr.jqgrow td {
	height: auto !important;
	overflow: auto !important;
	white-space: normal !important;
	padding: 4px 8px !important;
}

.ui-jqgrid .ui-jqgrid-htable .ui-th-div {
	height: auto !important;
}

.ui-jqgrid .ui-jqgrid-htable th div {
	height: auto !important;
	overflow: auto !important;
	white-space: normal !important;
	padding-bottom: 8px !important;
	padding-top: 4px !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.ui-jqgrid .ui-jqgrid-view {
	font-size: 12px !important;
}

.ui-jqgrid {
	.icon-button {
		font-size: 18px;
	}
}